{% extends "header.html" %}
{% block content %}
  <link href="/static/css/mccfer.css" rel="stylesheet" type="text/css" />
  <body>
    <div class="coworkers">
      <div class="col-lg-4">
        <h2>Chair</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Emma.jpg">
        <h3>Emma Lu</h3>
      </div>
      <div class="col-lg-4">
        <h2>Chair</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Gavin.jpg">
        <h3>Gavin Luo</h3>
      </div>
      <div class="col-lg-4">
        <h2>Chair</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Numbers.png">
        <h3>Numbers Tu</h3>
      </div>
      <div class="col-lg-4">
        <h2>Worship</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/coworker.png">
        <h3>Nicholas Hao</h3>
      </div>
      <div class="col-lg-4">
        <h2>Bible Study</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Peiwen.jpg">
        <h3>Peiwen Chen</h3>
      </div>
      <div class="col-lg-4">
        <h2>Activity</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Kevin.jpg">
        <h3>Kevin Zhao</h3>
      </div>
      <div class="col-lg-4">
        <h2>General Manager</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/coworker.png">
        <h3>Colleen Feng</h3>
      </div>
      <div class="col-lg-4">
        <h2>Caring</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Tabitha.jpg">
        <h3>Tabitha Alexander</h3>
      </div>
      <div class="col-lg-4">
        <h2>Prayer Meeting</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/coworker.png">
        <h3>Jim Zhang</h3>
      </div>
      <div class="col-lg-4">
        <h2>Refreshment</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/coworker.png">
        <h3>Bella Wang</h3>
      </div>
      <div class="col-lg-4">
        <h2>Web Master</h2>
        <img class="img-circle" width="140" height="140" src="/static/image/Jingge.jpg">
        <h3>Jingge Fu</h3>
      </div>
    </div>
  </body>
{% endblock %}
