{% extends "header.html" %}
<!-- This is where the content of the page go. -->
{% block content %}
{% load djangular_tags %}
{% angularjs %}
<body ng-app="myApp" ng-controller="PrayerController">
  <script src="/static/js/controller.js"></script>
  <hr>

  <!-- Button trigger modal --> 
  <div class="form-group">
    <label class="col-sm-1 control-label"></label>

    </br>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <form role="form" ng-submit="addPrayerRequest()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Prayer Requests</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Name" ng-model="form.name">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Email" ng-model="form.email">
            </div>
               <div class="form-group">
              <label for="request">Share Request:</label>
              <textarea type="text" class="form-control" id="request" placeholder="Request" rows="5" required ng-model="form.prayer_request"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
          </form>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <tbody>
      <thead>
        <tr>
          <th>    
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Share with Your Prayer Requests
            </button>
          </th>
        </tr>
      </thead>
        <tr ng-repeat="prayer_request in prayer_requests">
          <td>
            <div class="row">
              <label class="prayer-name">{{prayer_request.fields.name}}</label>
              <button class="btn btn-default btn-xs pull-right pary-for-it" ng-click="addCount(prayer_request.pk)" >I have prayed for this</button>
              <span class="pray-count pull-right"><small>Prayed for {{prayer_request.fields.count}} times</small></span>
            </div>
            <div class="row">
              <div class="pray-request">{{prayer_request.fields.request}}</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <div>
</body>
{% endangularjs %}
{% endblock %}
