{% extends "header.html" %}
{% block content %}
  <body>
<div id="resource_home" class="col-sm-8 col-sm-offset-2">
		<h2>Here is a collection of useful resources.</h2>
		<li><h4>Bible Study & Discussion: you can find previous Bible study and small group material here. It can be reading a book in Bible or topical study.</h4></li>
	</div>
	<div id="resource_outreach" class="col-sm-8 col-sm-offset-2 hidden">
		<h2>Download Welcome Package.</h2>
		<li><h4>Bible Study & Discussion: you can find previous Bible study and small group material here. It can be reading a book in Bible or topical study.</h4></li>
	</div>
	<div id="resource_bible" class="col-sm-8 col-sm-offset-2 hidden">
		<h2>This is a collection of previous Bible study and small group material.</h2>
		<li><h4>Bible Study & Discussion: you can find previous Bible study and small group material here. It can be reading a book in Bible or topical study.</h4></li>
	</div>
	<div id="resource_specialeventplanning" class="col-sm-8 col-sm-offset-2 hidden">
		<h2>Movie nights .</h2>
		<li><h4>Bible Study & Discussion: you can find previous Bible study and small group material here. It can be reading a book in Bible or topical study.</h4></li>
	</div>
	<div id="resource_meetingminute" class="col-sm-8 col-sm-offset-2 hidden">
		<h2>This page contains recent meeting minutes from previous EOT coworker meetings, so that we may benefit from previous serving experience..</h2>
		<li><h4>Bible Study & Discussion: you can find previous Bible study and small group material here. It can be reading a book in Bible or topical study.</h4></li>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
  </body>
{% endblock %}
