.goToTop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
	opacity: 0.90;
}

.navbar-center
{
   position: absolute;
   left: 30%;
   text-align: center;
   margin: auto;
}

.navbar li { color: #000 } 

#title {
  height: 100%;
}

.prayer-name{
  margin-left: 20px;
}
.pray-count{
  padding-right: 10px;
}
.pary-for-it{
  margin-right: 20px;

}
.table>tbody>tr>td{
  border-top: none;
}
.pray-request{
  margin-left: 20px;
}