{% extends "header.html" %}
  <!-- This is where the content of the page go. -->
  {% block content %}
  <body>
    <hr>
  

  <div class="container">

	  <div class="row">
		  <div class="jumbotron col-md-8 col-sm-8">
			  <h1>Prayer Wall</h1>
			  <p>Write down your prayer request, your fellow brothers and sisters will pray for your needs.</p>
		  </div>

		  <div class="prayer-form col-md-4 col-sm-8" >
			  <div class="container-fluid">
				  <form class="form-prayer-wall" method="POST">
					  <!-- <label for="prayer-name">Name</label> -->
					  <label for="prayer-name-input" class="sr-only">Name</label>
					  <input class="form-control" type="text" name="prayer-name" id="prayer-name-input" placeholder="Name" required autofocus>
					  <label for="prayer-email-input" class="sr-only">Email</label>
					  <input class="form-control" type="email" name="prayer-email" id="prayer-email-input" placeholder="Email" required>
					  <label for="prayer-request-input" class="sr-only">Prayer request</label>
					  <textarea class="form-control" name="prayer-request" id="prayer-request-input" placeholder="Prayer request" rows="5" required></textarea>
					  <input class="btn btn-lg btn-block btn-primary" id="submit" type="submit" value="submit"/>
				  </form>
			  </div>
		  </div> <!-- prayer-form -->
	  </div> <!-- row -->

  </div>
  </body>
{% endblock %}
